---
interface Props {
  src: string;
}
const { src } = Astro.props;
---
<div class="map-container">
  <iframe src={src} width="100%" height="500" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
  <p class="map-caption">※地図上のピンをクリックすると詳細が表示されます。</p>
</div>